page-page2 {
    
.card-content-md {
    padding: 0 10px 0 15px;
}

.message__content{
    padding-left: 0!important;
}    
.message_avatar{
    border-radius: 50%;
    width:15%;
    height:15%;
}
.message__date{
    font-weight:300;
    font-size:75%;
    margin-left: 30px;
}
a{
    text-decoration: none;
}

.message__tag{
    border-radius:0;
    background-color:green;
    margin-right:4px;
    font-weight:normal;
    border-bottom-color: chartreuse;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    display: inline-block;
    padding: 0 .6em;
}
.message__sentiment--1{
 background-color:#999;
}
.message__sentiment--2{
    background-color:#00ee00;
}
.message__sentiment--3{
    background-color:#ee6666;
}
.message__small-block {
    display: inline-block;
    height: 5px;
    vertical-align: middle;
    text-align: center;
}

.u-circle {
    border-radius: 50%;
}

.message__attachment-image{
width:100%;
height:auto;
}

.response__button{
    top:-15px;
}

.social-icon{
    width:25px;
    display:inline-block;
    vertical-align: bottom;
}
.item-note{
    display:inline-block;
}

.action-btn{
 width:25%;
}

}
