<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{stream.Name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="search" [formControl]="searchTerm" (keyup.enter)="getFilteredMessages()"></ion-searchbar>
  <div *ngIf="!isFiltered">
    <ion-card *ngFor='let message of messages'>


      <ion-card-content (click)="goToUserDetailsPage(message)">
        <ion-item class="message__content">
          <div item-left>
            <img src="{{message.RootMessage.AvatarUrl}}" class="message_avatar" />
            <ion-badge>{{message.Count}}</ion-badge>
          </div>
          <div class="item-note">
            <div>
              <span item-rigth><img class="social-icon" src="{{message.img}}"/></span> {{message.RootMessage.Author}}
              <div class="message__date">{{message.RootMessage.PublishDateTime | date:'short'}}</div>
            </div>

            <div class="message__sentiment message__small-block"></div>
          </div>
        </ion-item>
        <div class="message__attachment" *ngFor="let message of message.RootMessage.Media">
          <img class="message__attachment-image" src="{{message.Link}}" />
        </div>
        <div class="message__content" *ngFor="let message of message.RootMessage.Content">
          {{message}}
        </div>
        <div class="message__footer">
          <span *ngFor="let message of message.RootMessage.ClientTags" class="message__tag">{{message}}</span>
        </div>
      </ion-card-content>
      <ion-list class="account__selection">
        <ion-item>
          <button ion-button clear icon-only item-right>
              <ion-icon name="checkbox"></ion-icon>
           </button>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>

  <div *ngIf="isFiltered">
    <ion-card *ngFor='let message of filteredMessages'>
      <ion-card-content (click)="goToUserDetailsPage(message)">
        <ion-item class="message__content">
          <img src="{{message.RootMessage.AvatarUrl}}" class="message_avatar" item-left/>
          <div class="item-note" item-left>
            <div>
              <span item-rigth><img class="social-icon" src="{{message.img}}"/></span> {{message.RootMessage.Author}}
            </div>
            <div class="message__date">{{message.RootMessage.PublishDateTime | date:'short'}}</div>
            <div class="message__sentiment message__small-block"></div>
          </div>
        </ion-item>
        <div class="message__attachment" *ngFor="let message of message.RootMessage.Media">
          <img class="message__attachment-image" src="{{message.Link}}" />
        </div>
        <div class="message__content" *ngFor="let message of message.RootMessage.Content">
          {{message}}
        </div>
        <div class="message__footer">
          <span *ngFor="let message of message.RootMessage.ClientTags" class="message__tag">{{message}}</span>
        </div>
      </ion-card-content>
      <ion-list class="account__selection">
        <ion-item>
          <button ion-button clear icon-only item-right>
              <ion-icon name="checkbox"></ion-icon>
           </button>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>